[project]
	description = Java-based Headless Tomahawk Storage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexander Falb (elexx)
[access "refs/for/refs/*"]
	read = group user/Alexander Falb (elexx)
	push = group user/Alexander Falb (elexx)
	label-Code-Review = -2..+2 group user/Alexander Falb (elexx)
	label-Verified = -1..+1 group user/Alexander Falb (elexx)
	rebase = group user/Alexander Falb (elexx)
	removeReviewer = group user/Alexander Falb (elexx)
	submit = group user/Alexander Falb (elexx)
[access "refs/heads/*"]
	read = group user/Alexander Falb (elexx)
	create = group user/Alexander Falb (elexx)
	push = +force group user/Alexander Falb (elexx)
	pushMerge = group user/Alexander Falb (elexx)
[access "refs/tags/*"]
	push = group user/Alexander Falb (elexx)
	push = +force group user/Alexander Falb (elexx)
